name: Deploy to IIS via WebDeploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Prepare publish folder
      shell: cmd
      run: |
        if exist C:\Deploy\Publish rmdir /s /q C:\Deploy\Publish
        mkdir C:\Deploy\Publish
        echo Hello IIS Deploy Test > C:\Deploy\Publish\index.html

    - name: Verify Web Deploy exists
      shell: cmd
      run: |
        dir "C:\Program Files\IIS\Microsoft Web Deploy V3"

    - name: Deploy to IIS using Web Deploy
      shell: cmd
      run: curl -k https://217.154.34.195:8172/msdeploy.axd

